<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.hinnovac.dualscreen" version="1.0.0">	<name>DualDisplay</name>	<description>DualScreen Plugin</description>	<author href="http://hinnovac.com" email="support@hinnovac.com">Hindam Innovation Corp.</author>	<license>MIT</license>	<keywords>phonegap, dualscreen, dualdisplay, cordova</keywords>	<js-module src="www/dualdisplay.js" name="DualDisplay">        <clobbers target="window.dualdisplay" />    </js-module>	<!-- android -->	<platform name="android">		<config-file target="res/xml/config.xml" parent="/*">			<feature name="DualDisplay">				<param name="android-package" value="com.hinnovac.dualscreen.DualDisplay"/>			</feature>		</config-file>				<source-file src="src/android/DualDisplay.java" target-dir="src/com/hinnovac/dualscreen" />		<source-file src="src/android/ApplicationDualDisplay.java" target-dir="src/com/hinnovac/dualscreen" />	</platform></plugin> 